{% extends 'base.html' %}

{% load static %}

{% block title %}{{ course.name }} - 课程 - {{ block.super }}{% endblock %}

{% block content %}

    <!-- Linking -->
    <div class="linking">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">主页</a></li>
                <li><a href="{% url 'course:course_list' %}">课程列表</a></li>
                <li class="active">{{ course.name }}</li>
            </ol>
        </div>
    </div>

    <!-- Content -->
    <div id="content">
        <!-- Products -->
        <section class="padding-bottom-60">
            <div class="container">
                <div class="row">
                    <!-- Products -->
                    <div class="col-md-9">

                        <div class="product-detail">
                            <div class="product">
                                <div class="row">
                                    <!-- Slider Thumb -->
                                    <div class="col-xs-5">
                                        <article class="slider-item on-nav">
                                            <div class="thumb-slider">

                                                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                                    <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-1122px, 0px, 0px);">
                                                        <li data-thumb="images/item-img-1-3.jpg" class="clone" aria-hidden="true" style="width: 374px; float: left; display: block;">
                                                            <img style="vertical-align:middle;"
                                                                 src="{% if course.image %}{{ course.image.url }}{% else %}{% static 'platform/images/default-course.png' %}{% endif %}" alt=""
                                                                 draggable="false">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- Item Content -->
                                    <div class="col-xs-7"><span class="tags">机构：{{ course.course_org.name }}</span>
                                        <h5>{{ course.name }}</h5>
                                        <p class="rev"><i class="fa fa-info"></i>&nbsp;&nbsp; {{ course.desc }}</p>
                                        <div class="row">
                                            <div class="col-sm-6">难度：<span class="price">{{ course.get_degree_display }}</span></div>
                                            <div class="col-sm-6">
                                                <p>课时：<span class="in-stock">{{ course.learn_times }} 分钟</span></p>
                                            </div>
                                        </div>
                                        <!-- List Details -->
                                        <ul class="bullet-round-list">
                                            <li>学习人数：{{ course.students }}</li>
                                            <li>收&nbsp;&nbsp;藏&nbsp;&nbsp;数：{{ course.fav_nums }}</li>
                                            <li>点&nbsp;&nbsp;击&nbsp;&nbsp;数：{{ course.click_nums }}</li>
                                            <li>章&nbsp;&nbsp;节&nbsp;&nbsp;数：{{ course.get_lesson_nums }}</li>
                                            <li>课程分类：{{ course.category.name }}</li>
                                        </ul>


                                        <!-- Colors -->
                                        <div class="row">
                                            <div class="col-xs-2">学习<br>用户</div>
{#                                            {% for user_course in user_courses %}#}
{#                                                <div class="col-xs-2">#}
{#                                                    <a href="javascript:void(0)" title="{{ user_courses.user.nick_name }}({{ user_course.user.username }})">#}
{#                                                        <img class="img-responsive" style="height: auto; max-width: 60px;" src="{{ user_course.user.image.url }}" alt="">#}
{#                                                    </a>#}
{#                                                </div>#}
{#                                            {% endfor %}#}
                                            {% for user_course in user_courses %}
                                                <div class="col-xs-2">
                                                    <a href="javascript:void(0)" title="{{ user_courses.user__nick_name }}({{ user_course.user__username }})">
                                                        <img class="img-responsive" style="height: auto; max-width: 60px;" src="{{ MEDIA_URL }}{{ user_course.user__image }}" alt="">
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <!-- Compare Wishlist -->
                                        <ul class="cmp-list">
                                            {# <li><a href="#."><i class="fa fa-heart"></i> 添加收藏</a></li>#}
                                            {# 收藏与取消收藏课程#}
                                            <i class="fa fa-heart" style="color: #FF8040"></i>
                                            {% if has_fav_course %}
                                                <a href="javascript:void(0)" id="add_fav_course_button" style="color: #FFA042"> 取消收藏</a>
                                            {% else %}
                                                <a href="javascript:void(0)" id="add_fav_course_button" style="color: #02DF82"> 添加收藏</a>
                                            {% endif %}
                                        </ul>

                                        <a href="{% url 'course:course_content' course.id %}" class="btn-round"> 开始学习</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Details Tab Section-->
                            <div class="item-tabs-sec">

                                <!-- Nav tabs -->
                                <ul class="nav" role="tablist">
                                    <li role="presentation" class="active"><a href="#course-detail" role="tab" data-toggle="tab">课程详情</a></li>
                                    <li role="presentation"><a href="#course_org" role="tab" data-toggle="tab">机构介绍</a></li>
                                    <li role="presentation"><a href="#course_teacher" role="tab" data-toggle="tab">讲师资料</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="course-detail">
                                        <!-- List Details -->
                                        <ul class="bullet-round-list">
                                            <p>{{ course.detail }}</p>
                                            <li style="color: #d0d0d0">添加时间：{{ course.add_time }}</li>
                                        </ul>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="course_org">
                                        {{ course.course_org.name }}：{{ course.course_org.desc }}
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="course_teacher">
                                        {{ course.teacher.name }}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">

                        <div class="contact-info">
                            <a href="{% url 'org:org_home' course.course_org.id %}">
                                <div class="item-img"><img class="img-responsive"
                                                           src="{% if course.course_org.image %}{{ course.course_org.image.url }}{% else %}{% static 'platform/images/default-org.png' %}{% endif %}"
                                                           alt=""></div>
                                <h4>{{ course.course_org.name }}</h4>
                                <small>{{ course.course_org.desc }}</small>
                            </a>
                            <hr>
                            <p>
                                {# 机构收藏与取消机构收藏 #}
                                {% if has_fav_org %}
                                    <button id="add_fav_org_button" class="btn-round btn-light" style="background: #FFA042">取消收藏</button>
                                {% else %}
                                    <button id="add_fav_org_button" class="btn-round btn-light" style="background: #02DF82">添加收藏</button>
                                {% endif %}
                            </p>
                            <h6>机构信息</h6>
                            <p>课 &nbsp; 程 &nbsp; 数：{{ course.course_org.courses.count }}</p>
                            <p>讲 &nbsp; 师 &nbsp; 数：{{ course.course_org.teachers.count }}</p>
                            <p>所在地区：{{ course.course_org.address }}</p>
                        </div>

                        <div class="recent-post padding-top-20">
                            <h5>相关课程推荐</h5>
                            <hr>
                            <!-- 相关推荐 -->
                            {% for course in similar_course %}
                                <div class="media">
                                    <div class="media-left">
                                        <a href="{% url 'course:course_detail' course.id %}" class="cart-btn">
                                            <img class="img-responsive" src="{% if course.image %}{{ course.image.url }}{% else %}{% static 'platform/images/default-course.png' %}{% endif %}" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p>{{ forloop.counter }}</p>
                                        <a href="{% url 'course:course_detail' course.id %}">
                                            {{ course.name }}
                                        </a>

                                        <span>{{ course.get_degree_display }}</span>

                                    </div>
                                </div>
                            {% empty %}
                                暂无
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}


{% block js %}
    <script type="text/javascript">

        //添加或取消收藏
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'org:add_fav' %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.fav_status === 'fail') {
                        if (data.fav_msg === '用户未登录') {
                            window.location.href = "/login/?next={{ request.path }}";
                        } else {
                            alert(data.fav_msg)
                        }

                    } else if (data.fav_status === 'success') {
                        current_elem.text(data.fav_msg);
                        // 修改按钮的颜色
                        if (data.fav_msg === '取消收藏') {
                            if (fav_type === 2) {
                                document.getElementById('add_fav_org_button').style.background = '#FFA042';
                            } else if (fav_type === 1) {
                                document.getElementById('add_fav_course_button').style.color = '#FFA042';
                            }
                        } else if (data.fav_msg === '添加收藏') {
                            if (fav_type === 2) {
                                document.getElementById('add_fav_org_button').style.background = '#02DF82';
                            } else if (fav_type === 1) {
                                document.getElementById('add_fav_course_button').style.color = '#02DF82';
                            }
                        }
                    }
                },
            });
        }

        // 收藏机构点击
        $('#add_fav_org_button').on('click', function () {
            add_fav($(this), {{ course.course_org.id }}, 2);
        });

        // 收藏课程点击
        $('#add_fav_course_button').on('click', function () {
            add_fav($(this), {{ course.id }}, 1);
        });

    </script>
{% endblock %}